<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="tms_env" params="parent">

    <xacro:property name="table_width" value="0.9" />
    <xacro:property name="table_height" value="0.85" />
    <xacro:property name="table_dummy_head_offset" value="0.3" />
    <xacro:property name="table_ur_offset" value="0.3" />

    <link name="table">
      <visual>
        <geometry>
          <box size="${table_width} ${table_width} ${table_height}"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <material name="dark_grey"/>
      </visual>
      <collision>
        <geometry>
          <box size="${table_width} ${table_width} ${table_height}"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
      </collision>
    </link>

    <link name="dummy_head">
      <visual>
        <geometry>
          <mesh filename="package://tms_robot_description/meshes/adjusted_head_male_580.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <material name="white"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://tms_robot_description/meshes/adjusted_head_male_580.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0"/>
      </collision>
    </link>

    <link name="robot_mount"/>



    <joint name="parent_to_table" type="fixed">
      <parent link="${parent}" />
      <child link="table" />
      <origin xyz="0 0 ${table_height/2}" rpy="0 0 0" />
    </joint>

    <joint name="table_to_robot_mount" type="fixed">
      <parent link="table"/>
      <child link="robot_mount"/>
      <origin xyz="${-table_ur_offset} 0 ${table_height/2}" rpy="0 0 ${pi}" />
    </joint>

    <joint name="table_to_dummy_head" type="fixed">
      <parent link="table"/>
      <child link="dummy_head"/>
      <origin xyz="${table_dummy_head_offset} 0 ${table_height/2}" rpy="0 0 0" />
    </joint>

  </xacro:macro>

</robot>